body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
    background-image: url('../Images/LiveCaptureBackground2.PNG');
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea,
textarea {
    /*max-width: 350px;
    height: 35px;*/
}
.chosen-container-single .chosen-single{
     height: 30px;
     padding-top: 1%;
     padding-bottom: 1%;
      border-radius: 0;
      

}



.logo{height:70px;}
.main-sidebar {
    padding-top: 70px
}
.title-header{
  text-align: center;
		  color: #000000;
		  text-transform: uppercase;
		  /*padding-top: 12%;*/
          font-size: 2em;
		  /*font-family: 'Raleway', cursive;*/
		  font-weight: 100;
          /*padding-left: -100px;*/
		  position: relative;
		  /*background: -webkit-linear-gradient(left, black, #eee, black);
		  background: -moz-linear-gradient(left, black, #eee, black);
		  background: -ms-linear-gradient(left, black, #eee, black);
		  background: -o-linear-gradient(left, black, #eee, black);*/
          /*width: 100px;*/
}
.title-header span {
/*background: black;*/
		  /*display: block;*/
		  padding-left: 5%;
          padding-top: 1%;
          padding-bottom: 1%;
		  text-decoration: none;
		  letter-spacing: 10px;
		  color: black;
          float: none;
      display: inline-block;
		  -webkit-animation: comein 1.5s 1 ease-in-out forwards;
		  -moz-animation: comein 1.5s 1 ease-in-out forwards;

}




.multilevel-menu-a{
    font-size: 8px;
}

/* Darker text on medium background */
.engraved-text-one { 
    color: #fff;
    background-color: transparent;
    text-shadow: 0px 1px 0px rgba(255,255,255,.5); /* 50% white from bottom */
}

.engraved-text-dark { 
    color: #000;
    background-color: transparent;
    text-shadow: 0px 1px 0px rgba(255,255,255,.5); /* 50% white from bottom */
}

.login-box, .register-box {   
    background-color: #fff;
}

.login-box-body, .register-box-body{
    background-color: #fff;
}

.login-logo{
    background-color: #fff;
    border-bottom: 2px solid #ff6a00;
    font-size: 20px;
        margin-bottom: 10px;
}

.login-box-msg,
.register-box-msg {
  margin: 0;
  text-align: center;
  padding: 0 5px 5px 5px;
}

.navbar-nav > .user-menu > .dropdown-menu {
     width: 280px;
       padding: 50px;

}

.main-header .navbar{
    padding-right: 1%;

}

.user-body{
    background-color: #ff6a00;
 
}

a.btn:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 a.btn {
     -webkit-transform: scale(0.8);
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

 .textarea-addon{
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 4px !important;
  border:1px solid #ccc !important;
  border-bottom: none !important;
}
textarea{
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}
.textarea > .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  /*border-radius: 3px;*/
}




/*Login Box rewrite*/
.login-box-msg,
.register-box-msg {
  /*margin: 0;*/
  text-align: center;
  /*padding: 0 1px 20px 1px;*/
}
.login-box-body,
.register-box-body {

  padding: 1px 20px;

}

/* Change background color of ADMIN LTE sitebar */
/*.skin-black-light .wrapper, .skin-black-light .main-sidebar,*/ 
.sidebar {
    background-color: #083249;
    color: #fff;
}
.sidebar a:link, .sidebar a:visited {
    color: #fff;
}

    .sidebar a:visited {
    }




.login-content h4 {

   
    margin-bottom: 40px;
    color: #009688;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;  
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}


.app-menu__item{
    border-bottom: 1px solid #808080;
}

#myTable {
    margin: 0 auto;
    clear: both;
    width: 100%;
    table-layout: fixed;
}
/* Extra Things */


.card {
      background:#f8f9fa;
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border:1px solid #AAA;
    /*border-bottom:3px solid #BBB;*/
    padding:0px;
    
    /*overflow:hidden;*/
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Roboto', sans-serif;
    -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
          transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
#CaseSummary {

    padding-top: 0px;
   
    max-width: 100%;
    width: 100%;
    height:100%;

}

 /* Grid body */
    table.grid-table tr.grid-row-selected td { background-color: transparent !important; color: none; }
    table.grid-table tr.grid-row-selected a { color: none; }

.app-header__logo {
    background-color: transparent;
}


.class-of-dropdown {
    position: relative;
    z-index: 5000;
}

.modal-body {
    overflow-y:visible;
}

.engraved {
    text-shadow: 0px 1px 1px #000000;
	color: #fff;
	font: 0px 'LeagueGothicRegular';
 }







